@model AirTickets_project.Plane

@{
    ViewData["Title"] = "Детально";
}

<h1>Детально</h1>

<div>
    <h4>Самолет</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Models)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Models.Firm)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PlanesId">Изменить</a> |
    <a asp-action="Index">Назад</a>
</div>
